@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.centered p {
	font-family: Oswald;
	font-weight: 300;
	font-size: 1.4em;
	text-align: right;
}