@charset "UTF-8";
/** Fonts */
@import url("https://fonts.googleapis.com/css?family=Arimo:400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway");
/** Size Defs */
/** Color Defs */
/* General */
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img {
  text-decoration: none;
  border: none; }

html, body {
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #1a1a1a;
  margin: 0;
  padding: 0; }

body {
  position: relative; }

h1, h2, h3, h4 {
  font-family: "Arimo", sans-serif; }

h1 {
  font-size: 44px; }

h2 {
  font-size: 36px; }

p {
  font-size: 18px; }

p.disclaimer {
  color: #aaa;
  font-size: 14px; }

ul.feature-list {
  color: #aaa;
  font-size: 14px;
  margin-left: 24px;
  list-style: none; }
  ul.feature-list li:before {
    font-family: "FontAwesome";
    content: "";
    color: #5cb85c;
    margin: 0 8px 0 -15px; }

.btn {
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

span.rv {
  unicode-bidi: bidi-override;
  direction: rtl; }

/** Sizes */
i.medium {
  font-size: 32px; }

i.huge {
  font-size: 72px; }

/** Colors */
.pink {
  color: #f34444; }

.red {
  color: #d9534f; }

.green {
  color: #5cb85c; }

.bg-light-white {
  color: #333;
  background: #f9f9f9; }

.bg-teal {
  background: #37c8ab; }

.bg-1 {
  background: #8a7e76; }

.bg-2 {
  background: #6f8a91; }

@media (max-width: 991px) {
  .bg-md-1-2 {
    background: #8a7e76; } }
@media (min-width: 992px) {
  .bg-md-1-2 {
    background: #6f8a91; } }
@media (max-width: 991px) {
  .bg-md-2-1 {
    background: #6f8a91; } }
@media (min-width: 992px) {
  .bg-md-2-1 {
    background: #8a7e76; } }
/** Responsive Switches */
@media (min-width: 576px) {
  .xs-only {
    display: none; } }
@media (min-width: 768px) {
  .sm-only {
    display: none; } }
/** Soft Breaks */
@media (min-width: 992px) {
  .lg-sbr, .lg-only-sbr {
    display: block; } }
@media (min-width: 1199px) {
  .lg-only-sbr {
    display: none; } }
@media (max-width: 429px) {
  .sp-sbr-1:before {
    content: " ";
    display: block; } }
@media (min-width: 430px) {
  .sp-sbr-1:before {
    content: "";
    display: none; } }
@media (min-width: 992px) {
  .sp-sbr-1:before {
    content: " ";
    display: block; } }
/** Flexbox */
.hbox {
  display: flex; }

.vbox {
  display: flex;
  flex-direction: column; }

.flex-fill {
  flex: 1; }

.flex-center {
  align-items: center; }

.flex-center-center {
  align-items: center;
  justify-content: center; }

.flex-start {
  align-self: flex-start; }

.flex-end {
  align-self: flex-end; }

/** Margins and Padding */
.mt10 {
  margin-top: 10px; }

.mt20 {
  margin-top: 20px; }

.mr10 {
  margin-right: 10px; }

.mb10 {
  margin-bottom: 10px; }

.pt20 {
  padding-top: 20px; }

.pb20 {
  padding-bottom: 20px; }

.pb40 {
  padding-bottom: 40px; }

.p4 {
  padding: 4px; }

@media (min-width: 992px) {
  .lg-pdr5 {
    padding-right: 5px; } }
@media (min-width: 992px) {
  .lg-pdr10 {
    padding-right: 10px; } }
@media (min-width: 992px) {
  .lg-pdr25 {
    padding-right: 25px; } }
@media (min-width: 992px) {
  .lg-pdl5 {
    padding-left: 5px; } }
@media (min-width: 992px) {
  .lg-pdl10 {
    padding-left: 10px; } }
@media (min-width: 992px) {
  .lg-pdl25 {
    padding-left: 25px; } }
/** Alignment */
.text-center-md-left {
  text-align: center; }

@media (min-width: 768px) {
  .text-center-md-left {
    text-align: left; } }
.text-center-md-right {
  text-align: center; }

@media (min-width: 768px) {
  .text-center-md-right {
    text-align: right; } }
/** Navbar */
.navbar {
  background: transparent;
  border: none; }
  .navbar a.navbar-brand {
    padding-top: 4px; }

.navbar.main {
  height: 96px;
  background: transparent url("../img/navbar_bg.png") repeat-x 0 0; }

/** Cover */
#cover {
  height: 100vh;
  width: 100%;
  background: url("../img/uniq_cover_02.jpg") center center;
  background-size: cover; }
  #cover .claim {
    color: #fff;
    font-weight: 400;
    margin-bottom: 88px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }

@media (max-width: 576px) {
  h1.claim {
    font-size: 32px; } }
.arrow {
  display: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -27px;
  margin-bottom: 24px;
  width: 54px;
  height: 30px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MiIgaGVpZ2h0PSI0MCIgdmlld0JveD0iMCAwIDcyIDQwIiB2ZXJzaW9uPSIxLjEiPjxwYXRoIHN0eWxlPSJmaWxsOm5vbmU7c3Ryb2tlOiNmZmZmZmY7c3Ryb2tlLXdpZHRoOjY7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kOyIgZD0iTSA2Ny4yNzY3Nyw0LjM4MDMxMTEgMzYsMzUuNjU3MDcxIDQuNzIzMjMsNC4zODAzMTExIi8+PC9zdmc+DQo=);
  background-size: contain; }

.bounce {
  -webkit-animation: bounce 2.5s infinite;
  animation: bounce 2.5s infinite; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px); }
  60% {
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px); } }
#what {
  background: #f9f9f9; }

#alertRow {
  display: none; }

.help-block {
  padding-left: 5px;
  font-size: 12px; }

#testimonials {
  background: #e2d3c8 url("../img/uniq_bg_tile.png") repeat;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1), inset 0 -2px 2px rgba(0, 0, 0, 0.1); }

.avatar {
  border: 1px solid rgba(127, 127, 127, 0.1); }

.bubble {
  position: relative;
  background: #fff;
  padding: 0 30px 10px 30px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); }
  .bubble h2 {
    padding-top: 10px;
    color: #00ccff; }

@media (max-width: 991px) {
  .bubble {
    margin-top: 30px; }

  .bubble:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: #fff transparent;
    display: block;
    height: 0;
    z-index: 1;
    top: -15px;
    left: calc(50% - 20px); } }
@media (max-width: 768px) {
  .bubble {
    margin-left: 15px;
    margin-right: 15px; } }
@media (min-width: 992px) {
  .bubble:after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #fff;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 40px; } }
#steps p {
  font-size: 16px; }
#steps .step {
  padding: 10px; }
#steps .btn-prev, #steps .btn-next {
  margin: 0;
  cursor: pointer;
  opacity: 0.5; }
#steps .btn-prev:hover, #steps .btn-next:hover {
  opacity: 1; }
#steps .btn-prev {
  background: url("../img/arrow-left-gray.svg") 10px center no-repeat; }
#steps .btn-next {
  margin-left: -5px;
  background: url("../img/arrow-right-gray.svg") right 10px center no-repeat; }
#steps .slick-dots {
  margin: 0 -15px; }

#features {
  background: url("../img/uniq_cover_05.jpg") center center;
  background-size: cover;
  color: #fff; }
  #features h3 {
    font-family: "Arimo", sans-serif;
    font-size: 34px;
    font-weight: 700; }
  #features p {
    font-size: 16px; }
  #features .card {
    height: 100%; }
    #features .card .front, #features .card .back {
      padding: 20px 30px; }

#footer {
  background: #f9f9f9;
  box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  color: #808080; }
  #footer h4, #footer a {
    color: #808080;
    font-size: 14px;
    display: inline-block; }
  #footer .lang a {
    color: #aaa; }
    #footer .lang a span.flag-icon {
      opacity: 0.5; }
  #footer .lang a:hover, #footer .lang a.active {
    color: #1a1a1a; }
    #footer .lang a:hover span.flag-icon, #footer .lang a.active span.flag-icon {
      opacity: 1; }

/*# sourceMappingURL=main.css.map */
